In [ ]:
mysql:
    
relational database
structured data in the form of tables/relations
workbench/jupyter notebook
SQL

In [ ]:
mongoDB:
    
non-relational database
unstructured data in the form of json files or dictionaries
compass/jupyter notebook
python

In [ ]:
emp: table
    empid,empname,salary,loc ,contact -- columns
    1001. rohit.   6000. pune null    -- row/dictionary
    1002  neha.    5000  pune 1234
    1003  niraj   '5000' pune 
    1004. akash.   7000  pune email/mob no

In [ ]:
{contact:{'email':value,'mobno':value}}

In [1]:
import pymongo
import pandas as pd

### create connection

In [2]:
client=pymongo.MongoClient('mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
databases >> database >> tables       >> rows        and columns
databases >> database >> collections  >> document         keys

### CRUD operations

In [ ]:
1. create database
2. create collection
3. insert data (add document)
4. read data
5. update data
6. delete data

### 1. create database

In [27]:
db=client['college']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college')

In [4]:
client.list_database_names()

['admin', 'company', 'config', 'local', 'org']

### 2. create collection

In [28]:
coll=db['student']
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college'), 'student')

In [6]:
db.list_collection_names()

[]

### 3. insert data

In [ ]:
insert_one() : used to insert a single document
insert_many(): used to insert multiple documents

#### 1. insert_one()

In [ ]:
collection_name.insert_one({key:value})

In [29]:
coll.insert_one({'rollno':101,'stud_name':'rohit','gender':'m','loc':'pune'})

In [8]:
client.list_database_names()

['admin', 'college', 'company', 'config', 'local', 'org']

In [9]:
db.list_collection_names()

['student']

In [30]:
coll.insert_one({'rollno':102,'stud_name':'ronita','gender':'f','loc':'mumbai'})

In [31]:
coll.insert_one({'rollno':103,'stud_name':'nita','gender':'f'})

In [12]:
coll.insert_one({'rollno':104,'stud_name':'dhiraj','gender':'m','contact':1234})

In [13]:
coll.insert_one({'rollno':105,'stud_name':'akash','gender':'m',
                 'contact':{'email':'akash@gmail.com','mobno':1234}})

#### 2.insert_many()

In [ ]:
collection_name.insert_many([{},{},{}])

In [32]:
coll.insert_many([{'rollno':106,'stud_name':'veena'},
                {'rollno':107,'stud_name':'pooja','loc':'mumbai'}])

### read data

In [ ]:
find_one(): returns a single document
find()    : returns multiple documents

#### 1. find_one()

In [ ]:
collection_name.find_one({filter condition},{select})
without filter condition: returns the first document of the collection
with filter condition   : returns the first matched document

In [15]:
coll.find_one({})

{'_id': ObjectId('6543bf002c950f9acfc52d29'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'pune'}

In [16]:
coll.find_one({},{'_id':0})

{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'}

In [17]:
coll.find_one({},{'_id':0,'loc':0})

{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm'}

In [18]:
coll.find_one({},{'_id':0,'loc':1})

{'loc': 'pune'}

In [5]:
coll.find_one({},{'loc':1,'_id':0})

{'loc': 'chennai'}

In [21]:
coll.find_one({},{'loc':1,'rollno':0,'_id':0})

OperationFailure: Cannot do exclusion on field rollno in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field rollno in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

In [ ]:
20 keys : read 4 keys : specify 1 for these 4 keys
20 keys : skip 4 keys : specify 0 for these 4 keys

In [22]:
coll.find_one({'gender':'f'})

{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

In [23]:
coll.find_one({'loc':'mumbai'})

{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

In [ ]:
### 
$gt: greater than
$gte: greater than equal to
$ne : not equals to
$lt : less than
$lte:less than equals to
$in : specify multiple possoble values

In [24]:
coll.find_one({'rollno':{'$gt':105}})

{'_id': ObjectId('6543c0e02c950f9acfc52d2e'),
 'rollno': 106,
 'stud_name': 'veena'}

In [25]:
coll.find_one({'rollno':{'$gte':105}})

{'_id': ObjectId('6543c0252c950f9acfc52d2d'),
 'rollno': 105,
 'stud_name': 'akash',
 'gender': 'm',
 'contact': {'email': 'akash@gmail.com', 'mobno': 1234}}

In [26]:
coll.find_one({'rollno':{'$lt':105}})

{'_id': ObjectId('6543bf002c950f9acfc52d29'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'pune'}

### combine multiple filter condition

In [ ]:
AND & OR

In [28]:
coll.find_one({'rollno':103,'stud_name':'nita'})

{'_id': ObjectId('6543bf9f2c950f9acfc52d2b'),
 'rollno': 103,
 'stud_name': 'nita',
 'gender': 'f'}

In [33]:
coll.find_one({'rollno':103,'stud_name':'snehal'})

In [30]:
coll.find_one({'$or':[{'rollno':103},{'stud_name':'snehal'}]})

{'_id': ObjectId('6543bf9f2c950f9acfc52d2b'),
 'rollno': 103,
 'stud_name': 'nita',
 'gender': 'f'}

In [34]:
coll.find_one({'$or':[{'rollno':103},{'stud_name':'ronita','gender':'f'}]})

{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

In [ ]:
rollno 103 or stud_name=ronita and gender=f

#### find()

In [ ]:
returns multiple documents
collection_name.find({filter condition},{select})
without filter condition: returns all documents of the collection
                    ## select * from table_name;
with filter condition: returns all matched documents
                 ## select * from table_name where condition;

In [35]:
data=coll.find({})
list(data)

[{'_id': ObjectId('6543bf002c950f9acfc52d29'),
  'rollno': 101,
  'stud_name': 'rohit',
  'gender': 'm',
  'loc': 'pune'},
 {'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('6543bf9f2c950f9acfc52d2b'),
  'rollno': 103,
  'stud_name': 'nita',
  'gender': 'f'},
 {'_id': ObjectId('6543bfdb2c950f9acfc52d2c'),
  'rollno': 104,
  'stud_name': 'dhiraj',
  'gender': 'm',
  'contact': 1234},
 {'_id': ObjectId('6543c0252c950f9acfc52d2d'),
  'rollno': 105,
  'stud_name': 'akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 1234}},
 {'_id': ObjectId('6543c0e02c950f9acfc52d2e'),
  'rollno': 106,
  'stud_name': 'veena'},
 {'_id': ObjectId('6543c0e02c950f9acfc52d2f'),
  'rollno': 107,
  'stud_name': 'pooja',
  'loc': 'mumbai'}]

In [36]:
data=coll.find({},{'_id':0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'ronita', 'gender': 'f', 'loc': 'mumbai'},
 {'rollno': 103, 'stud_name': 'nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'dhiraj', 'gender': 'm', 'contact': 1234},
 {'rollno': 105,
  'stud_name': 'akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 1234}},
 {'rollno': 106, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja', 'loc': 'mumbai'}]

In [38]:
data=coll.find({},{'rollno':1,'_id':0})
list(data)

[{'rollno': 101},
 {'rollno': 102},
 {'rollno': 103},
 {'rollno': 104},
 {'rollno': 105},
 {'rollno': 106},
 {'rollno': 107}]

In [39]:
data=coll.find({},{'contact':0,'_id':0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'ronita', 'gender': 'f', 'loc': 'mumbai'},
 {'rollno': 103, 'stud_name': 'nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'dhiraj', 'gender': 'm'},
 {'rollno': 105, 'stud_name': 'akash', 'gender': 'm'},
 {'rollno': 106, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja', 'loc': 'mumbai'}]

In [40]:
data=coll.find({'loc':'mumbai'})
list(data)

[{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('6543c0e02c950f9acfc52d2f'),
  'rollno': 107,
  'stud_name': 'pooja',
  'loc': 'mumbai'}]

In [41]:
data=coll.find({'gender':'f'})
list(data)

[{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('6543bf9f2c950f9acfc52d2b'),
  'rollno': 103,
  'stud_name': 'nita',
  'gender': 'f'}]

In [45]:
data=coll.find({},{'_id':0})
data1=list(data)
df=pd.DataFrame(data1)
df

,rollno,stud_name,gender,loc,contact
0,101,rohit,m,pune,NaN
1,102,ronita,f,mumbai,NaN
2,103,nita,f,NaN,NaN
3,104,dhiraj,m,NaN,1234
4,105,akash,m,NaN,"{'email': 'akash@gmail.com', 'mobno': 1234}"
5,106,veena,NaN,NaN,NaN
6,107,pooja,NaN,mumbai,NaN

In [47]:
data=coll.find({'rollno':{'$in':[102,104,106]}})
list(data)

[{'_id': ObjectId('6543bf7e2c950f9acfc52d2a'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('6543bfdb2c950f9acfc52d2c'),
  'rollno': 104,
  'stud_name': 'dhiraj',
  'gender': 'm',
  'contact': 1234},
 {'_id': ObjectId('6543c0e02c950f9acfc52d2e'),
  'rollno': 106,
  'stud_name': 'veena'}]

### update data

In [ ]:
update_one(): update a single document
update_many():update multiple documents

#### 1. update_one()

In [ ]:
collection_name.update_one({filter condition},{'$set':{'key':new value}})
without filter condition: update the first document of the collection
with filter condition:    update the first matched document

In [48]:
coll.update_one({},{'$set':{'loc':'chennai'}})

In [49]:
coll.update_one({},{'$set':{'contact':8983}})

In [50]:
coll.update_one({'rollno':106},{'$set':{'loc':'pune'}})

In [52]:
coll.update_one({'loc':'mumbai'},{'$set':{'contact':2345}})

###

### MongoDB

In [ ]:
non relational database
unstructured data in the form of json files/dictionries

In [ ]:
create connection

In [ ]:
create database  : client['db_name']
create collection: db['collection name']

insert data/document :
    insert_one() : used to insert a single document
        collection_name.insert_one({key:value})
    insert_many(): used to insert multiple documents
        collection_name.insert_many([{},{},{}])
        
read data:
    find_one(): returns a single document
        collection_name.find_one({filter condition},{select})
        
        without filter condition: returns first document of the collection
        with filter condition   : returns first matched document
            
    find():     returns mulitple documents
        collection_name.find({filter condition},{select})
        
        without filter condition: returns all documents of the collection
        with filter condition   : returns all matched documents
            
            
update data:
    update_one() : update a single document
        collection_name.update_one({filter condition},{'$set':{'key':new value,'key':value}})
        
        without filter condition: update first document of the collection
        with filter condition   : update first matched document
        
        
    update_many(): update multiple documents
        collection_name.update_many({filter condition},{'$set':{'key':new value,'key':value}})
      
        without filter condition: update all documents of the collection
        with filter condition   : update all matched documents
            
delete data:
    delete_one(): delete a single document
        collection_name.delete_one({filter condition})
        
        without filter condition: delete first document of the collection
        with filter condition   : delete first matched document
            
    delete_many(): delete multiple documents
        collection_name.delete_many({filter condition})

        without filter condition: delete all documents of the collection
        with filter condition   : delete all matched documents

In [6]:
coll.find_one({})

{'_id': ObjectId('6543bf002c950f9acfc52d29'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'chennai',
 'contact': 8983}

In [7]:
coll.find_one({'gender':'m'})

{'_id': ObjectId('6543bf002c950f9acfc52d29'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'chennai',
 'contact': 8983}

In [8]:
import bson
from bson.objectid import ObjectId

In [9]:
coll.find_one({'_id':ObjectId('6543bfdb2c950f9acfc52d2c')})

{'_id': ObjectId('6543bfdb2c950f9acfc52d2c'),
 'rollno': 104,
 'stud_name': 'dhiraj',
 'gender': 'm',
 'contact': 1234}

In [10]:
coll.update_many({'rollno':{'$gt':105}},{'$set':{'gender':'f'}})

In [11]:
coll.update_one({},{'$set':{'loc':'hbd','contact':4567}})

In [12]:
coll.update_one({'rollno':103},{'$set':{'loc':'pune'}})

In [13]:
coll.update_many({},{'$set':{'loc':'chennai'}})

In [14]:
coll.update_many({},{'$set':{'branch':'comp'}})

In [15]:
coll.update_many({},{'$unset':{'contact':1}})

### delete data

In [ ]:
delete_one() : delete a single document
delete_many(): delete multiple documents

#### 1. delete_one()

In [ ]:
collection_name.delete_one({filter condition})
without filter condition: delete first document of the collection
with filter condition   : delete first matched document

In [16]:
coll.delete_one({})

In [17]:
coll.delete_one({'gender':'m'})

#### 2. delete_many()

In [ ]:
collection_name.delete_many({filter condition})
without filter condition: delete all documents of the collection
with filter condition   : delete all matched documents

In [18]:
coll.delete_many({'rollno':{'$lt':105}})

In [19]:
coll.delete_many({})

### drop collection

In [ ]:
collection_name.drop()

In [20]:
coll.drop()

### drop database

In [ ]:
client.drop_database('db_name')

### import csv file into mongo collection

In [23]:
df=pd.read_csv('emp.csv')
data=df.to_dict(orient='records')
db=client['ML']
db.emp.insert_many(data)

### import json file into mongo collection

In [24]:
import json

In [26]:
f=open('iris.json')
data=json.load(f)
db.iris.insert_many(data)